body{
    background-image: url(../image/webaliser-_TPTXZd9mOo-unsplash.jpg);
    background-size: cover;
    
}
.hood{
    padding: 20px;
    height: 10px;
    width: 400px;
   
}
.sam{
    height:200px;
    padding: 50px;

}
.pesa{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 650px;
    
}