{%extends 'registration/base.html'%}
{%load crispy_forms_tags%}
{% load bootstrap3%}
{%block content%}

<div class="business">

    <form action="{% url 'homepage'%}" method="post" enctype="multipart/form-data">
        {%csrf_token %}
        <div class="form">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal"
                style="text-align:left;">
                Post a hood
            </button>
        </div>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content p-2">
                    {%bootstrap_form  form%}
                    <input type="submit" class="btn btn-primary" style="width: 40%;">

                </div>
            </div>
        </div>
        
       
    </form> <br>
    <form action="{% url 'postbusiness'%}" method="post" enctype="multipart/form-data">
        {%csrf_token %}
        <div class="form">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModalbus"
                style="text-align:left;">
                Post a business
            </button>
        </div>
        <div class="modal" id="myModalbus">
            <div class="modal-dialog">
                <div class="modal-content p-2">
                    {%bootstrap_form   busformm%}
                    <input type="submit" class="btn btn-primary" style="width: 40%;">

                </div>
            </div>
        </div>
        
       
    </form>
    <div class="container jirani">
        <div class="row"> 
            <div class="hood">
                {%for neighbourhood in jirani%}
                <div class="container">
                <div class="card sam">
                    <p>{{neighbourhood.name}}</p>
                    <p>{{neighbourhood.location}}</p>
                    <p>{{neighbourhood.occupants}}</p>
                    

                </div>
                </div>
                <div class="biashara">

                </div>

            </div>
            {%endfor%}
            <div class="business">
                {%for business in  allbusiness%}
                <div class="biashara">
                <p>{{business.name}}</p>
                <p>{{business.email}}</p>
                <p>{{business.description}}</p>
                <img src="{{business.image.url}}" >
                </div>
                {%endfor%}
            </div>
        </div>

    </div>
</div>
{%endblock%}